<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>YouTube Downloader (V3)</title>
</head>

<body>
    <h1 class="page-title">YouTube Downloader</h1>
    <form class="search-form" id="search-form">
        <input class="search-input" type="url" name="url" id="url" placeholder="paste link..."
            value="https://www.youtube.com/watch?v=hGia1sD2lCI" required>
        <input class="button search-button" type="submit" value="Search">
    </form>
    <div class="search-helper-buttons">
        <button class="button small-button" id="paste-button">Paste</button>
        <button class="button small-button" id="clear-button">Clear</button>
    </div>
    <div class="button-switcher global-switcher">
        <button class="switcher-option audiovideo active">Audio + Video</button>
        <button class="switcher-option audio">Audio</button>
        <button class="switcher-option video">Video</button>
    </div>
    <div class="options-container video-options-container">
        <h3 class="title">Video Options</h3>
        <div class="video-options">
            <div class="switcher-container">
                <div class="title">Video Quality</div>
                <div class="button-switcher" id="video-quality-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
            <div class="switcher-container">
                <div class="title">Video Bitrate</div>
                <div class="button-switcher" id="video-bitrate-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
            <div class="switcher-container">
                <div class="title">Video Format</div>
                <div class="button-switcher" id="video-format-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
            <div class="switcher-container">
                <div class="title">Video Codec</div>
                <div class="button-switcher" id="video-codec-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
        </div>
    </div>
    <div class="options-container audio-options-container">
        <h3 class="title">Audio Options</h3>
        <div class="audio-options">
            <div class="switcher-container">
                <div class="title">Audio Bitrate</div>
                <div class="button-switcher" id="audio-bitrate-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
            <!-- <div class="switcher-container">
                <div class="title">Audio Sample Rate</div>
                <div class="button-switcher" id="audio-sample-rate-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div> -->
            <div class="switcher-container">
                <div class="title">Audio Format</div>
                <div class="button-switcher" id="audio-format-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
            <div class="switcher-container">
                <div class="title">Audio Codec</div>
                <div class="button-switcher" id="audio-codec-options">
                    <div class="switcher-option active">best</div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="toggle-container" id="remove-metadata-toggle">
            <div class="toggle-label">Remove metadata</div>
            <label class="toggle-switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <button class="button download-button">Download</button>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>