/* Variables */
:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey-900: #1A1A1A;
    --color-grey-800: #333333;
    --color-grey-700: #4D4D4D;
    --color-grey-600: #666666;
    --color-grey-500: #808080;
    --color-grey-400: #999999;
    --color-grey-300: #B3B3B3;
    --color-grey-200: #CCCCCC;
    --color-grey-100: #E6E6E6;
    --color-outline: var(--color-grey-300);
    --base-size: 4px;
    --small-padding: calc(1 * var(--base-size));
    --medium-padding: calc(2 * var(--base-size));
    --medium-large-padding: calc(3 * var(--base-size));
    --large-padding: calc(4 * var(--base-size));
    --very-large-padding: calc(8 * var(--base-size));
    --small-border-radius: calc(1 * var(--base-size));
    --medium-border-radius: calc(2 * var(--base-size));
    --large-border-radius: calc(3 * var(--base-size));
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover,
input:hover {
    cursor: pointer;
}

input:focus {
    outline: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
    gap: 1rem;
}

.page-title {
    grid-column: 1 / 13;
    grid-row: 1;
    text-wrap: nowrap;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2rem;
}

.search-form {
    border: 2px solid var(--color-outline);
    border-radius: var(--large-border-radius);
    display: flex;
    justify-content: space-between;
    padding: 4px 4px 4px 8px;
    grid-column: 4 / span 6;
    grid-row: 2;
}

.search-input {
    font-size: 1.5rem;
    width: 100%;
    border: 0;
}

.button {
    font-size: 1.3rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: var(--large-border-radius);
    padding: var(--medium-padding) var(--large-padding);
}

.search-helper-buttons {
    grid-row: 3;
    grid-column: 4 / span 6;
}

.small-button {
    font-size: 0.9rem;
    padding: var(--small-padding) var(--large-padding);
    background-color: transparent;
    color: var(--color-black);
    outline: 1px solid var(--color-outline);
}

.small-button:hover {
    background-color: var(--color-grey-100);
}

.global-switcher {
    display: flex;
    gap: 0.5rem;
    grid-row: 4;
    grid-column: 1 / 13;
    margin: 0 auto 2rem auto;
}

.button-switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--base-size);
    border: 2px solid var(--color-outline);
    border-radius: var(--large-border-radius);
    padding: var(--small-padding);
    width: fit-content;
}

.switcher-option {
    text-wrap: nowrap;
    font-size: 1rem;
    background-color: transparent;
    padding: var(--medium-large-padding) var(--large-padding);
    border-radius: var(--large-border-radius);
    border: 0;
}

.switcher-option:hover {
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--color-grey-100);
}

.switcher-option.active {
    background-color: var(--color-black);
    color: var(--color-white);
}

.switcher-option.filtered-out {
    pointer-events: none;
    opacity: 0.3;
}

.options-container {
    grid-row: 5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-options-container {
    grid-column: 3 / span 4;
}

.audio-options-container {
    grid-column: 7 / span 4;
}

.video-options-container.disabled,
.audio-options-container.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

.options-container .video-options,
.options-container .audio-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options-container>.title {
    font-size: 1.7rem;
    font-weight: 900;
}

.switcher-container {
    display: flex;
    flex-direction: column;
    gap: var(--base-size);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: 6;
    grid-column: 1 / 13;
    margin: 2rem auto;
}

.actions .toggle-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: var(--medium-large-padding);
    border-radius: var(--large-border-radius);
}

.toggle-container:hover {
    background-color: var(--color-grey-100);
    cursor: pointer;
}

.actions .toggle-container .toggle-label {
    font-size: 1.2rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-100);
    border-radius: 15px;
    border: 1px solid var(--color-outline);
    cursor: pointer;
    transition: background-color 0.2s;
}

.toggle-switch .slider::before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: var(--color-white);
    top: 1px;
    left: 1px;
    transition: transform 0.2s;
    border: 1px solid var(--color-outline);
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

.toggle-switch input:checked+.slider {
    background-color: var(--color-black);
}

.download-button {
    width: 100%;
    padding: var(--medium-large-padding);
}